# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: windows-latest

steps:
      - task: UseDotNet@2
        inputs:
          packageType: 'sdk'
          version: 7.0.x
      - pwsh: |
          dotnet workload install maui
          dotnet new android -o TestAndroidApp
          dotnet build TestAndroidApp
      - task: MSBuild@1
        inputs:
          solution: ./TestAndroidApp/TestAndroidApp.csproj
          msbuildArguments: /restore /bl
          
      - task: PublishPipelineArtifact@1
        condition: always()
        inputs:
          targetPath: '$(Pipeline.Workspace)\msbuild.binlog'
          artifact: 'msbuild.binlog'
          publishLocation: 'pipeline'